<!-- no footer at all! -->
<footer class="bg-light py-5">
  <div class="container px-4 px-lg-5">
    <div class="small text-center text-muted">
      {{ site.data.footer.copyright }}
      &nbsp;
      {% for link in site.data.footer.links %}
          {% if link.url contains '://' %}
            {% assign footer_link_url = link.url %}
          {% else %}
            {% assign footer_link_url = link.url | relative_url %}
          {% endif %}
          <a href="{{ footer_link_url }}" {% assign new_window_is_not_empty = link.new_window | is_not_empty %}
          {% if new_window_is_not_empty %}target="_blank" rel="noopener"
          {% endif %}>{{ link.text }}</a>
      {% endfor %} 
    </div>
  </div>
</footer>
